<div class="sidebar">
        
        <div class="sidebar-section">
 <div id="mc_embed_signup">
 <div class="mc-field-group"> 
		<input type="text" id="search-input" placeholder="Search blog posts..">
<ul id="results-container" style="background-color:black"></ul>
		 </div>
		</div>
		</div>
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
       
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.dayshiftjobs.com/US/+/Work-from-home" title="Work From Home Jobs"><img src="https://www.dayshiftjobs.com/dayshift.jpg" alt="Work From Home Jobs" /></a>
        </div>
            
</div>
