<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
       
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.dayshiftjobs.com/US/+/Work-from-home" title="Sell digital downloads with WordPress, for free"><img src="https://www.dayshiftjobs.com/dayshift.jpg" alt="Work From Home Jobs" /></a><br/>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- idd square -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4201549272943840"
     data-ad-slot="8046309191"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
            
</div>
