<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
       
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.dayshiftjobs.com/US/+/Work-from-home" title="Sell digital downloads with WordPress, for free"><img src="https://www.dayshiftjobs.com/dayshift.jpg" alt="Sell digital downloads with WordPress, for free" /></a>
        </div>
            
</div>